<p id="notice"><%= notice %></p>

<p>
  <b>Code name:</b>
  <%= @agent.code_name %>
</p>

<p>
  <b>Bio:</b>
  <%= @agent.bio %>
</p>

<p>
  <b>Position:</b>
  <%= @agent.position %>
</p>


<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>
